* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
:root {
    --dark-color: #1a1a1a;
    --white-color: #ffffff;
    --light-grey-color: #f5f5f5;
    --gold-color: #ffb944;
}

// nesting
$estilos: (
    padding: 40px,
    centro: center,
    color: var(--dark-color),
    padding2: 10px,
    font-size: 20px,
    );

// mixin
@mixin bg-color{
    background-color:var(--dark-color);
}
@mixin color{
    color: var(--white-color);
}

// carrousel
.carousel {
    min-height: 240px;
    padding: map-get($estilos,padding);
    border-radius: 2px;
    text-align: map-get($estilos,centro);
}

.carousel-item p {
    font-size: 26px;
    font-weight: 400;
    color: map-get($estilos,color);
}

.carousel-indicators li {
    @include bg-color;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    margin: 0 8px;
}

.carousel-control-next, .carousel-control-prev { 
    @include color;
    opacity: 1;
    width: 5%;
}

.control-button {
    @include bg-color;
    opacity: 1;
    width: 50px;
    height: 50px;
    padding: map-get($estilos,padding2);
    border: 1px solid var(--dark-color);
    border-radius: 50px;
    font-size: map-get($estilos,font-size);
}

.carousel-container {
    max-width: 800px;
    margin: 0 auto;
}


// testimonios
.testimonial-user {
    max-width: 240px;
    margin: 0 auto;
    text-align: left;
}

.testimonial-user h6 {
    margin-bottom: 0px;
}

.testimonial-user span {
    font-size: 12px;
}

.testimonial-user img {
    border-radius: 50%;
    max-width: 50px;
    text-align: map-get($estilos,centro);
}

.rating i {
    color: var(--gold-color);
    font-size: 26px;
}
// 
#cover {
    background-image: url(../assets/img/img1.jpeg);
    background-size: cover;
    padding-top: 90px;
    min-height: 700px;
    @include color;
}

#cover p {
    @include color;
}
section { padding: 120px 0; }

.divider { border-bottom: 2px solid var(--light-grey-color); }

.content-center {
    max-width: 800px;
    margin: 0 auto 60px auto;
    text-align: map-get($estilos,centro);
}



footer {
    padding: 80px 0;
    text-align: map-get($estilos,centro);
    @include color;
}

footer a {
    @include color;
}

footer a:hover {
    @include color;
}

footer .list-inline .list-inline-item {
    padding: 10px 15px;
}